.album-card-container{
    display: flex;
    border-radius: 5px;
    border: 1px solid rgb(70, 129, 137);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);

    .album-card-icon{
        min-height: 6.25rem;
        min-width: 6.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(70, 129, 137);
        svg {
            font-size: 60px;
            color: rgb(244, 233, 205);
        }
    }

    .album-card-title{
        padding: 1rem;
        display: flex;
        align-items: center;
        span{
            font-family: 'Anton', sans-serif;

        }

    }
}